<div class="form_padd">
<%= form_for @dish, html: { multipart: true }  do |f|%>
<% if @dish.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this link from being saved:</h2>

    <ul>
    <% @dish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="form-group clearfix">
  <div class="col-xs-7 ">
  <%= f.label :dish %><br>
  <%= f.text_field :dish, class: "form-control ",required: true %><br>
  </div>
  <div class="col-xs-7 ">
  <%= f.label :rating, 'Choose a cuisine'%>
  <%= f.select :cuisine, options_for_select([
   "American",
   "Bakery",
   "Bengali",
   "Biryani",
   "Cafe",
   "Chettinad",
   "Chinese",
   "Coffee and Tea",
   "Continental",
   "Desserts",
   "European",
   "French",
   "Hyderabadi",
   "Indian",
   "Italian",
   "Japanese",
   "Kebab",
   "Mexican",
   "Mughlai",
   "Salad"]),
   {}, { class: "form form-group form-control",required: true } %>

 </div>

  <div class="col-xs-7 ">
  <%= f.label :category, 'Describe the dish in one word' %><br>
  <%= f.text_field :category, class: "form-control ",required: true %><br>
  </div>

  <div class="col-xs-7 ">
  <%= f.label :image, 'Upload a picture for your dish' %><br>
  <%= f.file_field :image, class: "form-control "%><br>
  </div>

  </div>
  <br>
  <div class="form-group col-xs-4 ">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>


<% end %>
</div>
