<body class = "index">
<table class="table  table-hover">
  <h1> #Trending dishes this week</font> </h1>
  <thead >
    <tr>
      <th colspan="2"></th>
      <th><h2>Dish</h2></th>
      <th><h2>Restaurant</h2></th>
      <th><h2>Rating</h2></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
<% @dishes.each do |dish| %>
<tr>
  <% if dish.image.present? %>
<td><%= image_tag dish.image.url(:thumb) %></br><td>
  <% else %>
<td colspan="2"></td>
<% end %>
<td><h4><%= dish.dish %></h4></td>
<td><h4><%= dish.user.name %></h4></td>
<td><h4><%= dish.rating %></h4></td>
<td><h4><%= link_to "View dish", dish %></h4></td>
</tr>
<% end %>
</tbody>
</table>
</body>
