
<body class = "index">
  <div class = "find">
    Find the best food in town
  </div>
  <%= form_tag search_dishes_path, method: :get, role: "search" do %>
<div class = "search">
  <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search for your favourite dishes…" %>
  <div class = "submit">
  <%= submit_tag "Search", name: nil, class: "btn btn-default btn-danger" %>
  </div>
</div>
<% end %>
<table class="table">
  <h1> #Trending dishes this week</font> </h1>
  <thead >
    <tr>
      <th colspan="2"></th>
      <th><h2>Dish</h2></th>
      <th><h2>Restaurant</h2></th>
      <th><h2>Rating</h2></th>
    </tr>
  </thead>

  <tbody>
<% @dishes.each do |dish| %>
<tr>
  <% if dish.image.present? %>
<td><p class="extra"><%= image_tag dish.image.url(:thumb) %></p><td></br>
  <% else %>
  <td colspan="2"></td>
<% end %>
<td class="extra"><h4 class="extra2""><%= link_to dish.dish, dish %></h4></td>
<td><h4><%= dish.user.name %></h4></td>
<% if dish.average_rating>=8  %>
<td><h5 class="number number1"><%= dish.average_rating.round(1) %></h5></td>
<% elsif dish.average_rating>=6 && dish.average_rating<8%>
<td><h5 class="number number2"><%= dish.average_rating.round(1) %></h5></td>
<% elsif dish.average_rating>=4 && dish.average_rating<6%>
<td><h5 class="number number3"><%= dish.average_rating.round(1) %></h5></td>
<% elsif dish.average_rating>=2 && dish.average_rating<4%>
<td><h5 class="number number4"><%= dish.average_rating.round(1) %></h5></td>
<% elsif dish.average_rating>=0 && dish.average_rating<2%>
<td><h5 class="number number5"><%= dish.average_rating.round(1) %></h5></td>
<% end %>
</tr>
<% end %>
</tbody>
</table>
</body>
